.section {
  &__container {
    background-color: $white;
    width: 85%;
    padding: 15px 25px 25px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: $section-box-shadow;

    @include min-width(mobile) {
      width: 75%;
      padding: 15px 50px 35px;
    }

    @include min-width(tablet) {
      width: 65%;
    }

    @include min-width(desktop) {
      width: 50%;
    }

    @include min-width(extraDesktop) {
      width: 45%;
    }

    @include min-width(desktop1400) {
      width: 40%;
    }
  }

  &__title {
    color: $text-color;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px 0;
    font-size: 2.4rem;
    text-align: center;

    &--success {
      color: $success-color;
    }
  }

  &__paragraph {
    padding: 10px 0;
    margin: 10px 0;
    font-size: 1.4rem;
    color: $default-background-color;
    border-bottom: 1px solid $default-background-color;

    &--success {
      color: $text-color;
      text-align: center;
    }

    &--span {
      color: $text-color;
    }
  }
}
